html,body {
            height: 100%;
        }

body {
    background: url('./images/dummy_1.jpg') no-repeat center center/cover;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #747474;
    border-radius: 100%;
}

.dimm {
    position: fixed;
    background-color: rgba(55, 55, 59, 0.7); 
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.modalWrap {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    width: 700px;
    height: 40vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(136, 83, 148);
    background-size: 100%;
}
.contents {
    position: fixed;
    left: 340px;
    top:calc(50% - 10px);
    justify-content: center;
    align-items: center;
    font: 20px serif;
}
.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(181, 157, 174);
}

.btn {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(228, 219, 230);
    color: black;
    justify-content: center; 
    align-items: center;
}

.btn.prev {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    
}

.btn.next {
    position: fixed;
    top: 50%;
    left: 740px;
    transform: translate(-50%, -50%)
}

.btnClose {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0;
    outline: none;
    background-color: rgba(85, 43, 76, 0.56);
    color: #fff;
    position: absolute;
    left: 50%; 
    top: -20%;
    transform: translate(-50%,-50%);
}


@keyframes 
        ballMoving {
    0% {
        
        transform: translate(0, 0);
    }
    33.3% {
        
        transform: translate(640px, 0);
    }
    66.6% {
        transform: translate(640px, calc(40vh - 60px));
    }

    100% {
        transform: translate(0, calc(40vh - 60px));
    }
}

.ball {
    position: absolute;
    left: 0;
    top: 0;
    animation: ballMoving 10s alternate infinite;
}

.indicator {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 20%;
    left: 40%;
    bottom: 0;
    top: 90%;
}

span {
    display: block;
    opacity: 0;
    left: -9999px;
}
